<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>vue-webpack</title>
  </head>
  <body>
    <div id="app" class="container">
      <div class="row">
        <h3>Campeonato Brasileiro - Série A - 2018</h3>
        <br/><br/><br/>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Time</th>
              <th>Pontos</th>
              <th>GM</th>
              <th>GS</th>
              <th>Saldo</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="time in times">
              <td><strong>{{time.nome}}</strong></td>
              <td>{{time.pontos}}</td>
              <td>{{time.gm}}</td>
              <td>{{time.gs}}</td>
              <td>saldo</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
          <form class="form-inline">
              <div class="form-group">
                  Gols: {{novoJogo.casa.gols}}
                  <label class="control-label">
                      {{novoJogo.casa.time.nome}}
                  </label>
                  <input type="text" class="form-control" v-model="novoJogo.casa.gols">
              </div>
              <span>X</span>
              <div class="form-group">
                  Gols: {{novoJogo.fora.gols}}
                  <input type="text" class="form-control" v-model="novoJogo.fora.gols">
                  <label class="control-label">
                      {{novoJogo.fora.time.nome}}
                  </label>
              </div>
              <button type="button" class="btn btn-primary">Fim de jogo</button>
          </form>
      </div>
    </div>
    <script src="/dist/build.js"></script>
  </body>
</html>
